<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VMore-dev.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2025144E079136305F180ECA8A94E09887811265</string>
				<key>dateExpires</key>
				<string>12/06/2021</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2025144E079136305F180ECA8A94E09887811265</string>
						<key>dateExpires</key>
						<string>12/06/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CHIPageControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PL8V64WTV8</string>
						<key>name</key>
						<string>ISCITY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2025144E079136305F180ECA8A94E09887811265</string>
						<key>dateExpires</key>
						<string>12/06/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PL8V64WTV8</string>
						<key>name</key>
						<string>ISCITY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2025144E079136305F180ECA8A94E09887811265</string>
						<key>dateExpires</key>
						<string>12/06/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PL8V64WTV8</string>
						<key>name</key>
						<string>ISCITY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2025144E079136305F180ECA8A94E09887811265</string>
						<key>dateExpires</key>
						<string>12/06/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PL8V64WTV8</string>
						<key>name</key>
						<string>ISCITY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2025144E079136305F180ECA8A94E09887811265</string>
						<key>dateExpires</key>
						<string>12/06/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PL8V64WTV8</string>
						<key>name</key>
						<string>ISCITY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2025144E079136305F180ECA8A94E09887811265</string>
						<key>dateExpires</key>
						<string>12/06/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FittedSheets.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PL8V64WTV8</string>
						<key>name</key>
						<string>ISCITY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2025144E079136305F180ECA8A94E09887811265</string>
						<key>dateExpires</key>
						<string>12/06/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HandyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PL8V64WTV8</string>
						<key>name</key>
						<string>ISCITY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2025144E079136305F180ECA8A94E09887811265</string>
						<key>dateExpires</key>
						<string>12/06/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PL8V64WTV8</string>
						<key>name</key>
						<string>ISCITY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2025144E079136305F180ECA8A94E09887811265</string>
						<key>dateExpires</key>
						<string>12/06/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PL8V64WTV8</string>
						<key>name</key>
						<string>ISCITY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2025144E079136305F180ECA8A94E09887811265</string>
						<key>dateExpires</key>
						<string>12/06/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PL8V64WTV8</string>
						<key>name</key>
						<string>ISCITY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2025144E079136305F180ECA8A94E09887811265</string>
						<key>dateExpires</key>
						<string>12/06/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ScrollableSegmentedControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PL8V64WTV8</string>
						<key>name</key>
						<string>ISCITY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2025144E079136305F180ECA8A94E09887811265</string>
						<key>dateExpires</key>
						<string>12/06/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PL8V64WTV8</string>
						<key>name</key>
						<string>ISCITY SDN. BHD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2025144E079136305F180ECA8A94E09887811265</string>
						<key>dateExpires</key>
						<string>12/06/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ZXingObjC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PL8V64WTV8</string>
						<key>name</key>
						<string>ISCITY SDN. BHD.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PL8V64WTV8.com.iscity.VMore</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PL8V64WTV8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>VMore-dev.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>02703663-26aa-439f-a88a-df74ba5eb10a</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.iscity.VMore</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PL8V64WTV8</string>
				<key>name</key>
				<string>ISCITY SDN. BHD.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
